body {
  background: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%)
    no-repeat;
  font-family: "Space Mono", "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  padding-bottom: 10px;
}
h1 {
  color: #ffffff;
  font-size: 60px;
}
h2 {
  color: #ffffff;
  font-size: 30px;
  position: relative;
}

.mainimage {
  width: 100%;
  position: relative;
  left: 15%;
  top: 5%;
}

.left {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

/* Code for main sections in mobile view */
.main {
  grid-area: main;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  left: 10%;
  width: 80%;
}
.about {
  grid-area: about;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  left: 10%;
  width: 80%;
}

.nav {
  color: transparent;
  grid-area: nav;
}

.leftCol {
  padding: 10px;
  grid-area: left;
}

.rightCol {
  grid-area: right;
  padding: 10px;
  display: none;
}
.mainlist {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  padding-left: 25px;
  text-align: center;
  gap: 95px;
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
  color: #ffffff;
}

.sublist {
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 0;
}

.coinlogo {
  width: auto;
  height: 15.5px;
}

.Mainbutton {
  background: transparent;
  margin: 50px 50px 100px 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 0 9px #eeeeee;
  border-radius: 35px;
  display: inline-block;
  text-decoration: none;
}

.footer {
  text-align: center;
  grid-area: foot;
  padding: 10px;
}

/* Code for navigation */
.nav a {
  padding: 10px;
  color: transparent;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav a:hover {
  box-shadow: 0 0 9px #eeeeee;
  color: white;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
}

.nav li {
  flex: 1 1 50%;
  list-style: none;
}
.logonav {
  width: auto;
  height: 45px;
}

.logo {
  position: relative;
  top: -22px;
  height: 70px;
  margin: 0px;
  padding: 0px;
}

.maindescription {
  color: #ffffff;
  font-size: 35px;
}



/* Card */
.main-card {
  background: rgba(255, 255, 255, 0.1);
  width: min(90%, 24rem);
  margin: 9.5rem auto;
  border-radius: 15px;
  padding: 1.5rem 1.6rem 2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
}

/* Main Image */
.image-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.main-image {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: white;
  border-radius: 10px;
}

.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.image-container:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

.image-container:hover .overlay + .view {
  display: block;
}

/* Main Content */
.title {
  color: white;
  margin: 1.4rem 0 0.75rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.description {
  font-size: 1.1rem;
  letter-spacing: 0.015em;
  margin-bottom: 1rem;
  font-weight: 300;
}

.info {
  display: flex;
  align-items: center;
}

/* Creator Info */
.artist-button {
  background: transparent;
  margin: 20px 20px 60px 6px;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 0 9px #eeeeee;
  border-radius: 35px;
  display: inline-block;
}



.creator-text {
  font-weight: 300;
}

.creator-name {
  color: white;
}

.title:hover,
.creator-name:hover {
  color:blue;
  cursor: pointer;
}

.CatGif{
   border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
  margin : 30px;
 width: 75%;
  min-height: 350px;
  height: auto;
}





/* Code for formating social media links */
.icon a {
  color: white;
  font-size: 30px;
}

.icon {
  display: flex;
  justify-content: space-around;
}

/* media query for larger screen sizes */
@media screen and (min-width: 70ch) {
  .container {
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 10vw;
    grid-template-areas:
      "nav nav nav nav"
      ". left right ."
      "main main main main "
      "about about about about"
      "foot foot foot foot";
  }
  .rightCol {
    grid-area: right;
    padding: 10px;
    display: block;
  }

  .header {
    height: 40vh;
  }

  .nav ul {
    display: flex;
  }

  .nav li {
    flex: 1;
  }
}

/* desktop */
@media screen and (min-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "nav nav nav nav"
      ". left right ."
      "main main main main"
      "about about about about"
      "foot foot foot foot";
  }


}



/* logo disapper*/
@media screen and (max-width: 700px) {
  .mainimage,
  .rightCol {
    display: none !important ;
  }
}

/* make the cards landscape*/
@media screen and (min-width: 1100px) {
  .wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "nav nav nav nav"
      ". left right ."
      "main main main main"
      "about about about about"
      "foot foot foot foot";
  }

  .cards {
    display: flex;
  }
  .main-card {
    background: rgba(255, 255, 255, 0.1);
    width: min(30%, 24rem);
    height: max(750px);
    margin: 9.5rem auto;
    border-radius: 15px;
    padding: 1.5rem 1.6rem 2rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  }

.CatGif{
   border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
  margin : 70px;
 width: 55%;
  min-height: 350px;
  height: auto;
}

  .mainimage {
    width: 100%;
    position: relative;
    left: 15%;
    top: -5%;
  }
}

/* FORM CSS  */


input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-radius: 5000px;
  box-shadow: 0 0 3px #eeeeee;
  color: #ffffff;
}

.form-container {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 100px;
}
.form-container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 10px;
  border-radius: 35px;
}

.form-container input[type="submit"] {
  background-image: linear-gradient(
    to right,
    #642b73 0%,
    #c6426e 51%,
    #642b73 100%
  );
  outline: none;
  border: none;
  border-radius: 5000px;
  box-shadow: 0 0 3px #eeeeee;
  color: #ffffff;
  box-shadow: 10px #eeeeee;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 35px;
}

.form-container textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}
#thank_you {
  max-width: 100%;
  height:90%;
  margin: 0 auto;
  background: transparent;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;

}


.contact-body {
  min-height: 100vh;
}
/* MOBILE RESPONSIVE  */
@media (max-width: 900px) {
  .maintitle {
    font-size: 40px;
  }
  .maindescription {
    font-size: 26px;
  }
  .mainlist {
    margin-top: 25px;
  }
  .main,
  .about {
    width: 100%;
    right: 0;
    left: 0;
  }

  .Mainbutton {
    margin-bottom: 0px;
  }
  .mainlist li {
    font-size: 1rem;
  }
  .sublist {
    font-size: 1rem;
  }
  .sublist img {
    width: 50%;
    height: auto;
  }
  .main p {
    text-align: justify;
  }
  .nav {
    flex-wrap: nowrap;
  }
  .nav li {
    flex: auto;
    font-size: 0.8rem;
  }
  .mainimage,
  .rightCol {
    display: none;
  }
  .mainimage {
    width: auto;

    position: relative;
    left: 0%;
    top: 5%;
  }
}

/* MEDIUM DEVICES  */
@media (max-width: 768px) {
  .maintitle {
    font-size: 36px;
  }
  .footer h2 {
    font-size: 20px;
  }
  .container,
  .main {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main-card {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .coinlogo {
    width: auto;
    height: 20.5px;
  }
  .form-container {
    max-width: 90%;
  }
  #thank_you {
    max-width: 90%;
  }

  iframe {
    display: block;
   margin: 0 auto;
  }
}

/* SMALL DEVICES  */

@media (max-width: 300px) {
  .nav li {
    font-size: 0.5rem;
  }
  .mainlist li,
  .sublist li {
    font-size: 0.5rem;
  }

}
